* {
    margin: 0;
}

@media screen and (min-width: 1025px) {
    body {
        font-family: Liter;
    }

    header {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: darkslategray;
    }

    header .logo {
        transform: translateY(4px);
        margin-left: 12px;
        font-family: Josefin Sans;
        font-size: xx-large;
        color: white;
    }

    .logo {
        user-select: none;
    }

    .header-right {
        display: flex;
        height: stretch;
    }

    .dropdown-menu {
        height: inherit;
    }

    header .dropdown-button {
        padding: 0 40px;
        height: inherit;
        text-align: center;
        align-content: center;

        font-size: 1.2rem;

        background-color: lightgray;

    }

    .dropdown-button:hover {
        background-color: slategray;
        cursor: pointer;
    }

    .dropdown-menu:hover .dropdown-content {
        display: block;
        position: fixed;
    }

    .dropdown-content {
        list-style-type: none;
        padding-inline-start: 0;
        display: none;
        background-color: black;
        width: stretch;
    }

    .dropdown-notification {
        background-color: lightslategray;
        padding: 15px 0;
        text-align: center;
    }

    .dropdown-link {
        background-color: lightslategray;
        padding: 15px 0;
        text-align: center;
    }

    .dropdown-link:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    .dropdown-link a {
        text-decoration: none;
    }

    .square-svg-button {
        display: flex;
        align-items: center;
    }
    .square-svg-button img {
        height: 70%;
    }
}